<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header><h1>Projet - PokéCenter</h1></header>
    <hr />
    <div>
        @RenderSection("menuPage", required: true)
    </div>
    <hr />
    <h2>@ViewBag.SousTitre</h2>
    <hr />
    <div>
        @RenderBody()
    </div>
    <hr />
    <footer>@RenderSection("footerdeLaPage", required: false)</footer>
</body>
</html>

