@model ProjetPokemon.Web.Models.PokemonViewModel
@{ ViewBag.Title = "Create";
                ViewBag.SousTitre = "Ajouter un Pokémon"; }

<div>
    <form action="/Pokemon/Create" method="post">
        <table>

            <tr>
                <td>
                    <label>Espèce:</label>
                </td>
                <td>
                    <select name="Species">
                        @{ 
                            foreach (var element in Model.Species)
                            {
                                <option>@element</option> 
                            } 
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Type de Pokémon:</label>
                </td>
                <td>

                    <select name="ElementType">
                        @{ 
                            foreach (var element in Model.ElementTypes)
                            {
                                <option>@element</option>
                            }
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Surnom:</td>
                <td><input name="Nickname" type="text" value="" placeholder="Facultatif"></td>
            </tr>

            <tr>
                <td>Nom Trainer</td>
                <td><select name="TrainerId">                    
                    @foreach (var trainer in Model.GetTrainers)
                    {
                <option value="@trainer.Id">@trainer.Nom</option>
                }
                </select>
                </td>
                
            </tr>
            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" value="Ajouter">
                </td>
            </tr>
        </table>
    </form>
    <div style="color:red">
        @ViewBag.MessageErreurs
    </div>
</div>
@section footerdeLaPage
{
    <div><a href="/Pokemon/Index">Annuler</a></div>
    
}
