@model ProjetPokemon.Web.Models.PokemonViewModel
@{ ViewBag.Title = "Edit";
    ViewBag.SousTitre = "Modifier le Pokémon"; }
<div>
    <form action="/Pokemon/Edit" method="post">
        <input name="Id" type="hidden" value=@Model.UnPokemon.Id>
        <input name="Species" type="hidden" value=@Model.UnPokemon.Species>

        <table>

            <tr>
                <td>
                    <label>Espèce:</label>
                </td>

                <td>@Model.UnPokemon.Species</td>

            </tr>
            <tr>
                <td>
                    <label>Type de Pokémon:</label>
                </td>
                <td>
                    <select name="ElementType">
                        @{ 
                            foreach (var element in Model.ElementTypes)
                            {

                                <option 
                                        @if (@Model.UnPokemon.ElementType.ToString().Equals(element)) 
                                        { 
                                            @: selected="selected"
                                        }
                                >
                                @element
                                </option> 
                            } 
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Surnom:</td>
                <td><input name="Nickname" type="text" value="@Model.UnPokemon.Nickname" placeholder="Facultatif"></td>
            </tr>
            <tr>
                <td>Choisir un Trainer:</td>
                <td>
                    <select name="TrainerId">
                        @foreach (var trainer in Model.GetTrainers)
                        {
                        <option value="@trainer.Id"
                                  @if (@Model.UnPokemon.TrainerId.Equals(trainer.Id)) 
                                    { 
                                        @: selected="selected"
                                    }
                                
                        >@trainer.Nom</option>
                        }
                    </select>
                </td>

            </tr>

            <tr>
                <td colspan="2" style="text-align:center">
                    <input type="submit" value="Editer">
                </td>
            </tr>
        </table>
    </form>
    <div style="color:red">
        @ViewBag.MessageErreurs
    </div>
</div>
@section footerdeLaPage
{
    <div><a href="/Pokemon/Index">Annuler</a></div>
   
}
